<section class="jumbotron text-center" id="smain">
    <div class="container" id="main">
        <br>
        <h1 class="jumbotron-heading" id="title">Saved Articles</h1>
        <p id="pstitle">
            Top Headline News
        </p>

        <p>
            <br>
        </p>
    </div>
</section>
<div class="album py-5">
    <div class="container">
        <div class="row">
            {{!-- Insert Each Here --}}
            {{#each headline}}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <a href={{this.url}} target="_blank"><h5 class="card-text">{{this.headline}}.</h5></a>
                        <p class="sum">{{this.summary}}</p>
                        <p class="date">{{this.date}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn btn-info m-2 btn-view-comments" data-id="{{this._id}}">Comments</button>
                            </div>
                            <button type="button" class="btn btn btn-danger m-2 btn-remove" data-id="{{this._id}}">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{!-- End Each Here --}}
        </div>
    </div>
</div>
<div class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>